<br>
<p><strong>{{question.content}}</strong></p>
<p>By {{question.author}}</p>
<p>{{question.note}}</p>

<h2> Answers </h2>
<ul>
  {{#each question.answers as |answer|}}
    {{answer-tile answer=answer destroyAnswer="destroyAnswer"}}
  {{/each}}
</ul>

<button {{action 'delete' question}}>Delete</button>
